/* Centraliza o conteúdo vertical e horizontalmente */
html, body {
  height: 100%; /* Garante que o body ocupe toda a altura da página */
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  background-image: url('./images/event-background.jpg');
  background-size: cover; /* Faz a imagem cobrir todo o fundo */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  background-attachment: fixed;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 90%;
  text-align: center;
  margin-top: 100px; /* Adiciona margem para que não fique atrás da navbar */
}

.logo {
  margin-right: 10px; /* Espaço entre a logo e o texto */
  width: 90px; /* Ajuste a largura da logo conforme necessário */
  height: auto; /* Mantém a proporção */
  vertical-align: middle; /* Alinha verticalmente com os links da navbar */
}

.logo-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 23px; /* Ajuste o tamanho da fonte conforme necessário */
  color: #f0f0f5; /* Cor do texto */
  vertical-align: middle; /* Alinha verticalmente com a logo */
}

.event-form {
  display: flex;
  flex-direction: column;
}

.input-field {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input-field:focus {
  border-color: #C40CE6;
  outline: none;
}

.submit-btn {
  background-color: #4e0993;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #3d0773;
}

.message {
  margin-top: 10px;
  font-size: 10px;
  text-align: center;
}

