/* EventList.css */

.event-list {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    width: 90%;
    margin-top: 100px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.event-list h2 {
    font-size: 28px;
    color: #e6d1fa;
    margin-bottom: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.event-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
    cursor: pointer;
}

.event-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.event-card h3 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
}

.event-card p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* Botão de Ação */
.action-btn {
    background-color: #4e0993;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.action-btn:hover {
    background-color: #3d0773;
    transform: translateY(-2px);
}

/* Estilo do Botão Join */
.join-btn {
    background-color: #4e0993;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 10px;
}

.join-btn:hover {
    background-color: #3d0773;
    transform: translateY(-2px);
}

.join-btn:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    box-shadow: none;
}

/* Divisores para separar seções */
.section-divider {
    width: 100%;
    height: 2px;
    background-color: #ccc;
    margin: 20px 0;
    opacity: 0.8;
}

/* Estilo para eventos cancelados */
.event-card.canceled {
    background-color: #f8d7da; /* Fundo claro avermelhado */
    border: 1px solid #f5c6cb;
}

.event-card.canceled h3 {
    color: #721c24;
}
.event-card.active h3 {
    color: #46008d;
}

.event-card.canceled p {
    color: #721c24;
}

.view-participants-btn {
    background-color: #4CAF50; /* Verde suave */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 10px;
    width: 100%; /* Preenche a largura do card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.view-participants-btn:hover {
    background-color: #45a049; /* Verde mais escuro ao passar o mouse */
    transform: translateY(-2px);
}

/* Botão: Cancelar Evento */
.cancel-event-btn {
    background-color: #FF9800; /* Laranja */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 10px;
    width: 100%; /* Preenche a largura do card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cancel-event-btn:hover {
    background-color: #fb8c00; /* Laranja mais escuro ao passar o mouse */
    transform: translateY(-2px);
}

/* Botão: Apagar Evento */
.delete-event-btn {
    background-color: #f44336; /* Vermelho */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 10px;
    width: 100%; /* Preenche a largura do card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.delete-event-btn:hover {
    background-color: #e53935; /* Vermelho mais escuro ao passar o mouse */
    transform: translateY(-2px);
}

.event-section h3 {
    font-size: 18px;
    color: #b07ee2; /* Cor destacada para combinar com o tema */
    text-align: center; /* Centraliza o texto */
    text-transform: uppercase; /* Transforma o texto para maiúsculas */
   letter-spacing: 1px; /* Espaçamento entre letras */
    font-weight: bold;
  }